.picsum-img-wrapper {
  max-height: 85vh !important;
}
.title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 13vh;
  font-size: 4em;
  font-weight: bold;
  color: yellow;
  font-family: "georgia";
}

.description {
  font-size: 1.25em;
  margin-top: 0.5em;
  word-wrap: break-word;
  display: inline;
  line-height: 1.4;
  padding: 2px 0;
  width: 400px;
  margin: 20px auto;
}
.opacity {
  opacity: 0.8 !important;
}
