<ngb-carousel>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img
        class="d-block w-100"
        src="https://lh3.googleusercontent.com/proxy/mL8BOkpaaUPdG_Qm6fwgB_ro0Q2McxFW0gg4R5cvUA82oh2h6J49t7rAnAcz3VeJgQDlq4F-r4CwRuNVuYBm1fxPRXSIsv0t"
        alt="Random first slide"
      />
    </div>
    <div class="carousel-caption">
      <h3>1st movie Racem Fourati ...</h3>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img
        class="d-block w-100"
        src="
        https://img.mensxp.com/media/content/2020/Sep/3---20th-Century-Studios_5f71ea3f91c29.jpeg
        "
        alt="Random second slide"
      />
    </div>
    <div class="carousel-caption">
      <h3>2st movie Racem Fourati ...</h3>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img
        class="d-block w-100"
        src="
        https://i.ytimg.com/vi/a-qiMS8fnV4/maxresdefault.jpg
        "
        alt="Random third slide"
      />
    </div>
    <div class="carousel-caption">
      <h3>3rd movie Racem Fourati ...</h3>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img
        class="d-block w-100"
        src="
          https://cdn.defenseone.com/media/img/cd/2021/09/08/CFR_2500/860x394.jpg?1631154189
        "
        alt="Random fourth slide"
      />
    </div>
    <div class="carousel-caption">
      <h3>And no wrap after last slide.</h3>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img
        class="d-block w-100"
        src="
          https://images.livemint.com/img/2021/08/12/1600x900/Amazon_Original_Movie_HOME_poster_1628744061010_1628744080707.jpg
        "
        alt="Random fourth slide"
      />
    </div>
    <div class="carousel-caption">
      <h3>3arfek racem</h3>
    </div>
  </ng-template>
</ngb-carousel>
