<ngb-carousel>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img class="d-block w-100" src="{{ sliders[0].poster }}" alt="Movie" />
    </div>

    <div class="carousel-caption">
      <div class="title">{{ sliders[0].title }}</div>
      <br />
      <br />
      <p class="description">{{ sliders[0].description }}</p>
      <br />
      <br />
      <button type="button" class="btn btn-secondary">+ WatchList</button>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img class="d-block w-100" src="{{ sliders[1].poster }}" alt="Movie" />
    </div>
    <div class="carousel-caption">
      <div class="title">{{ sliders[1].title }}</div>
      <br />
      <br />
      <p class="description">{{ sliders[1].description }}</p>
      <br />
      <br />
      <button type="button" class="btn btn-secondary">+ WatchList</button>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img class="d-block w-100" src="{{ sliders[2].poster }}" alt="Movie" />
    </div>
    <div class="carousel-caption">
      <div class="title">{{ sliders[2].title }}</div>
      <br />
      <br />
      <p class="description">{{ sliders[2].description }}</p>
      <br />
      <br />
      <button type="button" class="btn btn-secondary">+ WatchList</button>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img class="d-block w-100" src="{{ sliders[3].poster }}" alt="Movie" />
    </div>
    <div class="carousel-caption">
      <div class="title">{{ sliders[3].title }}</div>
      <br />
      <br />
      <p class="description">{{ sliders[3].description }}</p>
      <br />
      <br />
      <button type="button" class="btn btn-secondary">+ WatchList</button>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img class="d-block w-100" src="{{ sliders[4].poster }}" alt="Movie" />
    </div>
    <div class="carousel-caption">
      <div class="title">{{ sliders[4].title }}</div>
      <br />
      <br />
      <p class="description">{{ sliders[4].description }}</p>
      <br />
      <br />
      <button type="button" class="btn btn-secondary">+ WatchList</button>
    </div>
  </ng-template>
</ngb-carousel>
