<div class="navbar">
  <div
    class="header__main"
    id="stickyHeader"
    [class.sticky]="sticky"
    #stickHeader
  >
    <div class="header__left">
      <ul>
        <li class="logo">
          <img
          class="logo"
          (click)="refresh()"
          src="../../assets/signage.png"
        />

        </li>
      </ul>
    </div>

    <div class="header__right">
      <ul>
        <li>
          <input />
        </li>
        <li>
          <a href="#">
            <mat-icon>search</mat-icon>
          </a>
        </li>

        <li class="active"><a href="#">Home</a></li>

        <li>
          <div ngbDropdown>
            <a ngbDropdownToggle> Categories </a>
            <div routerLink="/" class="opacity" ngbDropdownMenu>
              <button (click)="toAction()" routerLinkActive="active" ngbDropdownItem>Action</button>
              <button (click)="toDrama()" routerLinkActive="active" ngbDropdownItem>Drama</button>
              <button (click)="toComedy()" routerLinkActive="active"  ngbDropdownItem>Comedy</button>
              <button (click)="toFamily()" routerLinkActive="active" ngbDropdownItem>Family</button>
              <button (click)="toCrime()" routerLinkActive="active"  ngbDropdownItem>Crime</button>
            </div>
          </div>
        </li>
        <li><a (click)="toWatch()"  routerLink="/" routerLinkActive="active">Watchlist</a></li>

        <li>
          <mat-icon class="cursor" (click)="SignOut()">logout</mat-icon>
        </li>
      </ul>
    </div>
  </div>
</div>




