<h1 mat-dialog-title>{{data.movie.title}} {{data.movie._id}}</h1>
<div mat-dialog-content>

    <iframe width="560" height="315" [src]="urlSafe"
      frameborder="0" allowfullscreen></iframe>

      <p>{{data.movie.year}}</p>
      <p>{{data.movie.release_date}}</p>
      <p>{{data.movie.imdb_rating}}</p>
      <div *ngFor="let com of data.movie.comments" >
        <p>{{com.user}}</p>
        <p>{{com.comment}}</p>
      </div>
  
  <mat-form-field appearance="fill">
    <input
        id="comment"
        type="text"
        class="form-control "
        [(ngModel)]="comment"
        placeholder="add a comment..."
      />
  </mat-form-field>

</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>close</button>
  <button mat-button  (click)="addcomment()" >add comment</button>
</div>