
<div class="navbar">
  <div
    class="header__main"
    id="stickyHeader"
    [class.sticky]="sticky"
    #stickHeader
  >
    <div class="header__left">
      <ul>
        
        <li class="active">
          <div >
            <img class="logo" (click)="refresh()" src="../../assets/signage.png" />
          </div>
        </li>
      </ul>

    </div>

    <div class="header__right">
      <ul>
        <li>
        <app-search></app-search>
        </li>
        <li>
          <a href="#">
            <mat-icon>search</mat-icon>
          </a>
        </li>

        <li class="active"><a href="#">Home</a></li>
        <li>
          <div ngbDropdown>
            <a  ngbDropdownToggle>
              Categories
            </a>
            <div ngbDropdownMenu>
              <button ngbDropdownItem>Action</button>
              <button ngbDropdownItem>Drama</button>
              <button ngbDropdownItem>Comedy</button>
              <button ngbDropdownItem>Family</button>
              <button ngbDropdownItem>Horror</button>
            </div>
          </div>
        </li>

        <li>
          <a href="#">
            <mat-icon>login</mat-icon>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
