
<div class="navbar">
  <div class="header__main" id="stickyHeader" [class.sticky]="sticky" #stickHeader>
    
    <div class="header__left">

      <ul>
        <li class="active">
          <div class="logo">
           <img (click)=refresh() src="../../assets/signage.png">
          </div>
        </li>
      </ul>

    </div>


    <div class="header__right">
      <ul>

        <li>
          <input />
        </li>
        <li><a href="#">
            <mat-icon>search</mat-icon>
          </a></li>

        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">Categories</a></li>

        <li><a href="#">
            <mat-icon>login</mat-icon>
          </a></li>

      </ul>
    </div>
  </div>




</div>