.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
   
}

  
  .example-full-width {
    width: 100%;
    input{
      background-color: transparent;
      margin-top: 0px;
    border-color: rgb(145, 140, 140);
    border-top: none;
    border-left: 1px;
border-right:1px;
margin-left:0px;
color:white;
    }
  }
  .scrollbar-none {
    scrollbar-width: 2px;
    height: 100px;
    width: 200px;
    overflow-y: scroll;
    background-color:rgb(231, 231, 231);
}
