.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
   
}

  
  .example-full-width {
    width: 100%;

  }
  .scrollbar-none {
    scrollbar-width: none;
    height: 150px;
    width: 200px;
    overflow-y: scroll;
}
