<div *ngIf="loggedin === false">
  <app-First-Nav></app-First-Nav>
</div>
<div *ngIf="loggedin === true">
  <app-Second-Nav></app-Second-Nav>
</div>

<app-Slider-Show></app-Slider-Show>

<app-Card [movies]="movies"></app-Card>
<div *ngIf="loggedin === false">
  <button mat-raised-button (click)="openDialog()">sign in</button>
</div>
<div *ngIf="error">{{ error }}</div>

<router-outlet></router-outlet>

<!-- <div *ngIf='user'>
<div *ngIf='user.username'>
    <div>{{user.email}}</div>
    <div>{{user.username}}</div>
    <div>{{user.password}}</div>
</div>
<div *ngIf="user.username === '' ">
    <div>{{user.email}}</div>
    <div>{{user.password}}</div>
</div>
</div>  -->
