<div class="listing">
  <div class="row">
    <div class="listing__items">
      <div class="listing-item-style" *ngFor="let film of movies">
        <div class="overlay">
          <div class="hover">
            <i class="material-icons">play_arrow</i> PLAY NOW
          </div>
        </div>
        <img src="{{ film?.poster }}" />

        <h6>{{ film?.title }}</h6>
      </div>
    </div>
  </div>
</div>

<!-- <ngb-carousel>
  <ng-template ngbSlide>
    <div class="listing">
      <div class="movie__images" style="margin-top: 8rem">
        <h2>Popular</h2>
        <div class="thumbnails">
          <ngx-slick-carousel [config]="sliderConfig" class="carousel">
            <div class="listing-item-style" *ngFor="let film of movies" ngbSlide>
              <img
                class="imgg"
                src="{{ film.poster }}"
                alt="{{ film.title }}"
              />
            </div>
            <div class="carousel-caption"></div>
          </ngx-slick-carousel>
        </div>
      </div>
    </div>
  </ng-template>
</ngb-carousel> -->
<!-- <div class="overlay">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="26"
              height="26"
              fill="currentColor"
              class="bi bi-play-circle"
              viewBox="0 0 16 16"
            >
              <path
                d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
              />
              <path
                d="M6.271 5.055a.5.5 0 0 1 .52.038l3.5 2.5a.5.5 0 0 1 0 .814l-3.5 2.5A.5.5 0 0 1 6 10.5v-5a.5.5 0 0 1 .271-.445z"
              />
            </svg>

            <div class="title">{{ film.title }}</div>
            <p class="description">here....</p>

            <button type="button" class="btn btn-secondary">+ WatchList</button>
          </div> -->
