<div class="container">
  <div style="padding: 20px">
    <!-- <h1 style="margin: auto; padding: 50px">En ce moment au cinéma :</h1> -->
    <div class="pic">
      <div class="row">
        <div>
          <img
            class="imgOfCard"
            style="width: 100%"
            src="{{movies[0].poster}}"
            class="img-fluid"
          />
          <div class="middle"></div>
        </div>
        <div>
          <img
            class="imgOfCard"
            style="width: 100%"
            src="https://m.media-amazon.com/images/M/MV5BYzg0NGM2NjAtNmIxOC00MDJmLTg5ZmYtYzM0MTE4NWE2NzlhXkEyXkFqcGdeQXVyMTA4NjE0NjEy._V1_FMjpg_UX1000_.jpg"
            class="img-fluid"
          />
          <div class="middle"></div>
        </div>
        <div>
          <img
            class="imgOfCard"
            style="width: 100%"
            src="https://m.media-amazon.com/images/M/MV5BYzg0NGM2NjAtNmIxOC00MDJmLTg5ZmYtYzM0MTE4NWE2NzlhXkEyXkFqcGdeQXVyMTA4NjE0NjEy._V1_FMjpg_UX1000_.jpg"
            class="img-fluid"
          />
          <div class="middle"></div>
        </div>
        <div>
          <img
            class="imgOfCard"
            style="width: 100%"
            src="https://m.media-amazon.com/images/M/MV5BYzg0NGM2NjAtNmIxOC00MDJmLTg5ZmYtYzM0MTE4NWE2NzlhXkEyXkFqcGdeQXVyMTA4NjE0NjEy._V1_FMjpg_UX1000_.jpg"
            class="img-fluid"
          />
          <div class="middle"></div>
        </div>
        <div>
          <img
            class="imgOfCard"
            style="width: 100%"
            src="https://m.media-amazon.com/images/M/MV5BYzg0NGM2NjAtNmIxOC00MDJmLTg5ZmYtYzM0MTE4NWE2NzlhXkEyXkFqcGdeQXVyMTA4NjE0NjEy._V1_FMjpg_UX1000_.jpg"
            class="img-fluid"
          />
          <div class="middle"></div>
        </div>
        <div>
          <img
            class="imgOfCard"
            style="width: 100%"
            src="https://m.media-amazon.com/images/M/MV5BYzg0NGM2NjAtNmIxOC00MDJmLTg5ZmYtYzM0MTE4NWE2NzlhXkEyXkFqcGdeQXVyMTA4NjE0NjEy._V1_FMjpg_UX1000_.jpg"
            class="img-fluid"
          />
          <div class="middle"></div>
        </div>

        <div>
          <img
            class="imgOfCard"
            style="width: 100%"
            src="https://m.media-amazon.com/images/M/MV5BYzg0NGM2NjAtNmIxOC00MDJmLTg5ZmYtYzM0MTE4NWE2NzlhXkEyXkFqcGdeQXVyMTA4NjE0NjEy._V1_FMjpg_UX1000_.jpg"
            class="img-fluid"
          />
          <div class="middle"></div>
        </div>
      </div>
    </div>
  </div>
</div>
